.header {
    display: flex;
    justify-content: center;
    background: var(--gray-800);
    padding: 1.5rem 0rem;
}

.logoContainer {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.5rem;
}