.comment {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}

.comment+.comment {
    margin-top: 1.5rem;
}

.comment img {
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
}

.commentBox {
    flex: 1;
}

.commentContent {
    background: var(--gray-700);
    padding: 1rem 1rem 1.5rem 1rem;
    border-radius: 8px;
}

.commentContent header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.authorAndTime strong {
    display: block;
    font-size: 0.875rem;
    color: var(--gray-100);
    line-height: 1.6;
}

.authorAndTime time {
    display: block;
    font-size: 0.75rem;
    color: var(--gray-400);
    line-height: 1.6;
}

.commentContent header button {
    background: transparent;
    border: 0;
    color: var(--gray-400);
    cursor: pointer;
    transition: color 0.2s;

    line-height: 0;
    border-radius: 2px;
}

.commentContent header button:hover {
    color: var(--red-500);
}

.commentContent p {
    margin-top: 1rem;
    font-size: 0.875rem;
    color: var(--gray-300);
    line-height: 1.6;
}

.commentFooter {
    margin-top: 1rem;
}

.commentFooter button {
    background: transparent;
    border: 0;
    border-radius: 2px;

    display: flex;
    align-items: center;

    font-size: 0.875rem;
    color: var(--gray-400);
    cursor: pointer;

    transition: color 0.2s;
}

.commentFooter>button:hover {
    color: var(--gray-100)
}

.commentFooter>button:active {
    color: var(--green-300);
    outline: none;
}

.commentFooter button svg {
    margin-right: 0.5rem;
}

.commentBox footer button span::before {
    content: "\2022";
    padding: 0 0.25rem;
}

@media (max-width: 768px) {
    .comment {
        grid-template-columns: 1fr;
    }
}